asarPy==1.0.1
asgiref==3.12.1
Cython==3.2.9
Django==6.1
Mako==1.4.1.dev0
Markdown==3.10.3
MarkupSafe==3.0.3
meson==1.9.2
packaging==26.3
pillow==12.3.0
setuptools==80.10.2
sqlparse==0.6.0
wheel==0.47.0
